.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding Jersey25 font */
@font-face {
  font-family: 'Jersey25';
  src: url('./assets/fonts/Jersey25-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Adding Jersey10 font for BrainWave title */
@font-face {
  font-family: 'Jersey10';
  src: url('./assets/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Set Jersey25 as the default font for the whole app */
* {
  font-family: 'Jersey25', sans-serif;
}

/* Apply Jersey10 only to the BrainWave title */
.brain-text, .wave-text {
  font-family: 'Jersey10', sans-serif; /* Use Jersey10 only for BrainWave */
}